@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  th {
    @apply px-5 py-3 xxl:px-8;
  }

  tbody:last-child:first-child {
    @apply rounded-bl-md;
  }

  tbody:last-child:last-child {
    @apply rounded-br-md;
  }

  td {
    @apply overflow-hidden text-ellipsis text-nowrap border-t-[1px] border-border bg-primary p-5 xxl:border-t-2 xxl:p-8;
  }
}

:root {
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --background: #f0f0f0;
  --primary: #f7f7f7;
  --secondary: #e0e0e0;
  --accent: #7564d1;
  --accent-hover: #504492;
  --border: #cdcdcd;
  --info: #5697d4;
  --text: #222222;
  --text-contrast: #eeeeee;
}

:root:has(body.dark) {
  --background: #242424;
  --primary: #444444;
  --secondary: #363636;
  --accent: #c0b5ff;
  --accent-hover: #9488db;
  --border: #5d585f;
  --error: #e45050;
  --info: #abcbe9;
  --text: #eeeeee;
  --text-contrast: #222222;
}

/* Removing arrows on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: var(--background);
  height: 100vh;
}

body:has(.modal) {
  overflow: hidden;
}
