@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #242424;
  --primary: #444444;
  --secondary: #363636;
  --accent: #c0b5ff;
  --accent-hover: #9890c7;
  --border: #5d585f;
  --error: #e45050;
  --info: #abcbe9;
  --text: #eeeeee;
  --text-contrast: #222222;
}

@media (prefers-color-scheme: light) {
  :root:not(:has(body.dark)) {
    --background: #f0f0f0;
    --primary: #f7f7f7;
    --secondary: #e0e0e0;
    --accent: #7564d1;
    --accent-hover: #504492;
    --border: #cdcdcd;
    --info: #5697d4;
    --text: #222222;
    --text-contrast: #eeeeee;
  }
}

body {
  background-color: var(--background);
}

.btn {
  @apply rounded px-4 py-2 font-bold;
}
.btn-blue {
  @apply bg-slate-500 text-white;
}
.btn-blue:hover {
  @apply bg-slate-700;
}
